#header {
  width: 100%;
  height: 56px;
  background-color: rgb(19, 25, 33);
}
a{
  text-decoration: none;
  color:#000000;
}
a:hover {
  text-decoration: none;
}
#search_icon {
  font-size: 17px;
  color: #AAAAAA;
  margin: 0 auto;
  transform: translateY(45%);
}

.search {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  /* ボックス中央寄せ */
  display: flex;
  transform: translateY(25%);
}
#search_box {
  width: 100%;
  height: 2.3em;
  border: 1px solid #999;
  border-right: none;
}
.favorite {
  padding: 8px 10px;
  font-family: "Arial";
  cursor: pointer;
}

.category_title {
  font-size: 28px;
  font-family: "Arial";
  font-weight: 700;
  width: 100vh;
}
.mousehover_space {
  position: absolute;
  top: 0;
  right: -10px;
  margin-left: 20px;
}
.space {
  margin-top: 30px;
}
.search_category_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
}

#favorite_list {
  height: 80px;
  width: 192px;
  padding-left: 5px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#favorite_list_title {
  font-size: 14px;
}

#delete_favorite {
  font-size: 20px;
}

.delete_button {
  display: inline-block;
  width: 15px;
}

.sidebar_icon {
  margin-right: 10px
}

.favorite_book_background {
  width: 100%;
  height: 51.7%;
  background-color: rgba(55, 62, 62, 0.05);
}
.favorite_button.isShow {
  display: block;
}

.favorite_button.selected {
  color: #FFCC66;
  display: block;
}


/*PC用レイアウト*/
@media screen and (min-width:1000px) {
  .search {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    /* ボックス中央寄せ */
    display: flex;
    transform: translateY(25%);

  }
  #search_box {
    margin-left: 20px;
    width: 70%;
    height: 2.3em;
    border: 1px solid #999;
    border-right: none;
  }
  #search_button {
    width: 75px;
    background-color: #f8f8f8;
    cursor: pointer;
    border: 1px solid #999;
    font-family: 'Font Awesome\ 5 Free';
    width: 5em;
    height: 2.3em;
  }
  .wrapper {
  display: flex;
}

#sidebar {
  min-width: 200px;
  height: 100vh;
  margin-right: 10px;
  overflow-y: auto;
  border-right: 2px solid rgb(221, 221, 221);
  color: #444444;
}
.all_category_card {
  display: flex;
  overflow-x: scroll;
  width: 90vw;
}

.category_card {
  height:386px;
  width:198px;
  max-width: 297px;
  min-width: 198px;
  background-color: rgba(55, 62, 62, 0.04);
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
}
.favorite_button {
  width: 26px;
  height: 26px;
  background: #ffa500;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #1E90FF;
  display: none;
  color: white;
}
.book_background {
  width: 100%;
  height: 60%;
  background-color: rgba(55, 62, 62, 0.05);
}

.book_image {
  padding: 10px 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.book_image img {
  max-width: 100%;
  max-height: 100%;
}

.book_price {
  font-size: 21px;
  padding-top: 5px 0;
  width: 90%;
  margin: 0 auto;
  color: #B12704;
}

.book_title {
  font-size: 15px;
  width: 90%;
  margin: 0 auto;
  color:rgb(15, 17, 17);
}
.book_salesdate {
  font-size: 14px;
  width:90%;
  margin: 0 auto;
  color:rgb(86, 89, 89);
}

.favorite_category_card {
  height: 400px;
  width: 198px;
  max-width: 297px;
  min-width: 198px;
  background-color: rgba(55, 62, 62, 0.04);
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;
}
.releasedate {
  font-size: 14px;
  width:90%;
  margin: 0 auto;
  color:rgb(15, 17, 17);
}
}

/*PC以外*/
@media screen and (max-width:999px) {
  #search_button {
    display: none;
  }
  #sidebar {
  width: 100%;
  height: 56px;
  border-top: 2px solid rgb(221, 221, 221);
  color: #444444;
  position: fixed;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  display: flex;
  background-color: white;
  z-index: 10;
}
.favorite {
  padding: 8px 10px;
  font-family: "Arial";
  cursor: pointer;
  font-size: 25px;
  width : calc(100% / 2) ;
  text-align: center;
}
.favorite span{
  display: none;
}
#favorite_list {
  height: 80px;
  width: 192px;
  padding-left: 5px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: none;
}
.contents{
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 56px;
}
.category_title {
  font-size: 24px;
  font-family: "Arial";
  width: 100%;
}

.category_card {
  width: 100%;
  height: 200px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}
.category_card a{
  display: flex;
  width:100%;
  height: 100%;
}
.book_background {
  width: 40%;
  height: 100%;
  background-color: rgba(55, 62, 62, 0.02);
}
.book_image {
  padding: 10px 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
.book_image img {
  max-width: 100%;
  max-height: 100%;

}

.book_information{
  display:flex;
  flex-flow: column;
  width: 60%;
  padding-left: 10px;
  border-top: 0.1px solid rgb(221, 221, 221,0.3);
  border-right: 0.1px solid rgb(221, 221, 221,0.3);
  border-bottom: 0.1px solid rgb(221, 221, 221,0.3);
}
.book_price {
  font-size: 21px;
  width: 90%;
  height: 10%;
  color: #B12704;
  
}
.book_salesdate {
  font-size: 13px;
  padding-top: 10px;
  color:rgb(86, 89, 89);
}

.book_title {
  font-size: 15px;
  padding-top: 10px;
}
.favorite_button {
  width: 26px;
  height: 26px;
  background: #ffa500;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #1E90FF;
  color: white;
}

.favorite_category_card {
  height: 200px;
  width: 100%;
  background-color: rgba(55, 62, 62, 0.04);
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}
.favorite_category_card a{
  display: flex;
  width:100%;
  height: 100%;
}
.favorite_book_background {
  width: 40%;
  height: 100%;
  background-color: rgba(55, 62, 62, 0.02);
}
.releasedate {
  font-size: 14px;
  color:rgb(15, 17, 17);
}

}






